<div>
	<div class="counts hide-xs hide-sm ">
	<em data-href="/zh/photos/like/2430636/" class="ajax">
		<i class="icon icon_like"></i> 5
	</em>
	<em data-href="/zh/accounts/favorite/photo/2430636/" class="ajax">
		<i class="icon icon_favorite"></i> 3
	</em>
	<em data-location="/zh/%E5%88%98%E5%98%89%E7%8E%B2%E6%98%9F%E4%BA%91-%E6%98%9F%E7%B3%BB-%E9%9B%BE-kosmus-%E5%AE%87%E5%AE%99-%E9%93%B6%E6%B2%B3-%E5%A4%9C%E6%99%9A%E7%9A%84%E5%A4%A9%E7%A9%BA-2430636/#comments">
		<i class="icon icon_comment"></i> 0</em>
	</div>
	<a href="/users/5026413/">spirit111</a>
</div>
